*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body{

    background-color: #ccc;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'san-serif';
    font-weight: 200;
}
/*
#######################################################################
HEADER AND NAV SYTLING
#######################################################################
*/
header{
    background-color: black;
    width: 100%;
    min-height: 40px;
    position: fixed;
    opacity: 0.7;
}
nav{
    max-width: 960px;
    margin: auto;
}
.masthead{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
h1,h3{
    color: white;
}
#logo {
    margin-left: 20px; 
}
#title {
    margin-right: 20px; 
}

a {
    text-decoration: none;
    color: white;
    line-height: 40px;
}
/*
#######################################################################
MAIN FEAUTURE & PROJECT STORY STYLING
#######################################################################
*/
.feature {
    margin: 0 auto;
    background-color: black;
    width: 100%;
    height: calc(100vh - 80px);
    overflow: hidden;
    display: flex;
}

#trailr{
    background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url("../img/trailr_small.jpg") no-repeat border-box center bottom;

    background-size: cover;
}

.project {
    margin: 0 auto;
    background-color: white;
    overflow: hidden;
    display: flex;
    min-height: 144px;
    margin: 1px;
}
.feature-content{
    margin: auto; 
    flex-direction: column;
    width: 100%;
}
.project-content{
    margin: auto;
}
.feature-title, .project-title{
    text-align: center;
    margin: 5px;
}
.feature-links, .project-links{
    text-align: center;
    margin: 5px;
}
.repo-link{
    padding-right: 10px;
}
.demo-link{
    padding-left: 10px;
}
#catalog{
    background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)),  url("../img/books.jpg") no-repeat border-box center;
    background-size: 100%;
}
#map{
    background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url("../img/map.jpg") no-repeat border-box center;
    background-size: 100%;
}
#space-ship{
    background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url("../img/space.jpg") no-repeat border-box center;
    background-size: 100%;
}

#potato-gun{
    background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url("../img/time.jpg") no-repeat border-box center;
    background-size: 100%;
}

footer{
    line-height: 30px;
    font-size: 12px;
    text-align: center;
    color: #eee;
}

@media 
only screen and (min-width: 540px){ 
    .feature {
        height: calc(100vh - 200px);
    }
    #trailr{
        background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url("../img/trailr_medium.jpg") no-repeat border-box center bottom;
        background-size:cover;
    }
    .project-views{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .project{
        width: calc(100vw/2 - 10px);
        flex:1 0 auto;
    }
    }

@media 
only screen and (min-width: 1025px){ 
    .feature {
        height: calc(100vh - 100px);
    }
    #trailr{
        background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url("../img/trailr_large.jpg") no-repeat border-box center bottom;
        background-size:cover;
    }
    .project-views{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .project{
        width: calc(100vw/4 - 6px);
        flex:1 0 auto;
    }

}

@media 
only screen and (min-width: 1440px){ 
    .feature {
        height: calc(100vh - 100px);
    }
    #trailr{
        background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url("../img/trailr_large.jpg") no-repeat border-box center bottom;
        background-size:cover;
    }
    .project-views{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .project{
        width: calc(1440px/4 - 6px);
        flex:none;
    }

}